html {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #4A4A4A;
  line-height: 1.45;
  letter-spacing: -.01em;
  line-height: 1.25em
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

article {
  margin-top: .5em;
}

body {
  text-rendering: optimizeLegibility;
  letter-spacing: -.01em;
  line-height: 1.9rem;
  color: #5d686f;
  font-size: 1.125rem;
  margin: 0;
}

.main-content-wrap {
  display: block;
  max-width: 750px;
  margin: 0 auto;
  padding-right: 1.2em;
  padding-left: 1.2em;
  padding-bottom: 1.2em;
}
  .headerBump {
      padding-top: 3.5rem;
  }

  .main-content-wrap img {
      display: block;
      width: auto;
      max-width: 100%;
      margin-bottom: 1.2rem
  }

.bodyWithNav {
  width: calc(100% - 250px);
  float: right;
}

.headline {
  margin-bottom: 0;
  margin-top: 0;
}

.headlineSubtext {
  font-size: .8em;
}

blockquote {
  border-left: 2px solid #d1dced;
  padding: .4em 1.2em;
}

code, pre {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  border-radius: 3px;
  background: #f5f5f5;
  padding: 0 .4em;
  overflow-x: auto;
}

a {
  color: #00558d;
  font-weight: 400;
}

  a:visited {
      color: #6c6c6c;
  }